.sliding-loader {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    top: 0;
    left: -250vw;
    height: 100vh;
    width: 200vw;
    background-color: goldenrod;
    transform: skew(45deg,0deg);
    transition: all 1.3s ease-in-out;
}

.active > .sliding-loader {
    left: 250vw;
}

.hidden-menu {
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 70;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.menu-body {
    margin-top: 50px;
    width: 400px;
    opacity: 0;
    margin-left: 500px;
    transition: all 0.6s ease-in-out;
    &.active {
        opacity: 1;
        margin-left: 0px;
    }
}

.menu-link {
    position: relative;
    margin: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'BenchNine', sans-serif;
    cursor: pointer;
    animation-duration: 1.5s;
}

@keyframes menulink1 {
    0%{opacity: 0; left: -50px;}
    40%{opacity: 0; left: -50px;}
    70%{opacity: 1; left: 0px;}
}
@keyframes menulink2 {
    0%{opacity: 0; left: -50px;}
    50%{opacity: 0; left: -50px;}
    80%{opacity: 1; left: 0px;}
}
@keyframes menulink3 {
    0%{opacity: 0; left: -50px;}
    40%{opacity: 0; left: -50px;}
    70%{opacity: 1; left: 0px;}
}
@keyframes menulink4 {
    0%{opacity: 0; left: -50px;}
    60%{opacity: 0; left: -50px;}
    90%{opacity: 1; left: 0px;}
}
@keyframes menulink5 {
    0%{opacity: 0; left: -50px;}
    70%{opacity: 0; left: -50px;}
    100%{opacity: 1; left: 0px;}
}

.menu-number {
  margin-right: 20px;
  transform: rotate(-90deg);
  font-size: 25px;
  letter-spacing: 5px;
  color: gray;
  transition: all .4s linear;
}

.menu-line {
    height: 1px;
    width: 0;
    background-color: white;
    transition: all .4s linear;
    margin-right: 25px;
}

.menu-link>a {
    padding-right: 0px;
    color: #aaa;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    transition: all .4s linear;
}

.menu-footer {
    display: flex;
    justify-content: flex-start;
    width: 90vw;
    padding: 40px;
    margin-left: 0px;
    margin-top: auto;
    opacity: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    h2, p {
        animation-duration: 1.5s;
        animation-timing-function: linear;
    }
}
@keyframes menu-footer-entry {
    0%{opacity: 0;}
    70%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes menu-footer-animation {
    0%{margin-left: 0px; opacity: 1;}
    100%{margin-left: 1200px; opacity: 0;}
}
.menu-footer > p {
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
    color: #9b9b9b;
    font-size: 11px;
}

.menu-footer h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #9b9b9b;
}

.menu-footer a {
  color: #f4bd03;
  font-size: 11px;
  font-weight: 900;
  text-decoration: none;
}

.menu-footer .menu-float {
    margin-left: auto;
}

.menu-footer .second-menu-float {
    margin-left: 40px;
}